<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GarageDb" connectionString="Data Source=|DataDirectory|garage.db" providerName="Microsoft.Data.Sqlite" />
  </connectionStrings>
  <appSettings>
    <add key="Jwt:Key" value="GarageManager_SuperSecret_2026_HS256_Key_32!!" />
    <add key="Jwt:Issuer" value="GarageManager" />
    <add key="Jwt:Audience" value="GarageManager" />
    <add key="Jwt:Algorithm" value="HS256" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>